PowerAutomate_QueueItem_20210427183722/Microsoft.Flow/flows/3fd05433-2ee4-41b2-a21a-d8397bb56944/definition.json
{"name":"aacf7916-c6c2-4843-98a5-a96de1a7f75a","id":"/providers/Microsoft.Flow/flows/aacf7916-c6c2-4843-98a5-a96de1a7f75a","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"PRODUCCION 2.1 Delete items Lsita SH botpdaw AGG Queue Item de Orchestrator Uipath: 2","definition":{"metadata":{"workflowEntityId":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"1fc3e91f-fda2-4691-9d3b-b7307b3db341","type":"User","tenantId":"3c0bd4fe-1111-4d13-8e0c-7c33b9eb7581"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2021-04-21T19:35:44.9714917Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"sharepoint.site":{"defaultValue":"","type":"String"},"sharepoint.list":{"defaultValue":"","type":"String"}},"triggers":{"When_a_new_item_is_created_in_the_list_SharePointSuramericana_PRODUCCION":{"recurrence":{"frequency":"Minute","interval":1},"splitOn":"@triggerBody()?.value","metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetOnNewItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-centralus-01.azure-apim.net/apim/sharepointonline"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://suramericana.sharepoint.com/sites/AsistenteSaludVirtualIPS'))}/tables/@{encodeURIComponent(encodeURIComponent('1e203c5b-155b-4a80-a801-fcf7e575567a'))}/onnewitems","authentication":"@parameters('$authentication')"},"conditions":[]}},"actions":{"Inicializar_variable_NombrePaciente":{"runAfter":{"Inicializar_variable_CedulaPaciente":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"NombrePaciente","type":"string","value":"@triggerBody()?['NombrePaciente']"}]}},"Inicializar_variable_CedulaPaciente":{"runAfter":{"Inicializar_variable_Email_Solicitante":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"CedulaPaciente","type":"string","value":"@triggerBody()?['No_x002e_IDPaciente']"}]}},"Inicializar_variable_Observacion":{"runAfter":{"Redactar_2":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Observacion","type":"string","value":"@triggerBody()?['Observacion']"}]}},"Inicializar_variable_EstadoTransacion":{"runAfter":{"Inicializar_variable_Observacion":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"EstadoTransacion","type":"string","value":"@triggerBody()?['EstadoTx']"}]}},"Análisis_del_archivo_JSON":{"runAfter":{"HTTP_Gererar_Token_Uipath_API_PRODUCION_L":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('HTTP_Gererar_Token_Uipath_API_PRODUCION_L')","schema":{"type":"object","properties":{"access_token":{"type":"string"},"id_token":{"type":"string"},"scope":{"type":"string"},"expires_in":{"type":"integer"},"token_type":{"type":"string"}}}},"description":"Código de tren para analizar JSON"},"Inicializar_variable_access_token":{"runAfter":{"Análisis_del_archivo_JSON":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Token","type":"string","value":"Bearer @{body('Análisis_del_archivo_JSON')?['access_token']}"}]}},"Inicializar_variable_ReferenceCliente":{"runAfter":{"Inicializar_variable_access_token":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ReferenceCliente","type":"string","value":"@{variables('CedulaPaciente')}-@{triggerBody()?['ID']}"}]}},"Inicializar_variable_ChatID":{"runAfter":{"Inicializar_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ChatID","type":"string","value":"@triggerBody()?['ChatID']"}]}},"Inicializar_variable_TipoID":{"runAfter":{"Inicializar_variable_ChatID":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"TipoID","type":"string","value":"@{triggerBody()?['TipoID']}"}]}},"Inicializar_variable_NombreAcudiente":{"runAfter":{"Inicializar_variable_NombrePaciente":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"NombreAcudiente","type":"string","value":"@triggerBody()?['NombreAcudiente']"}]}},"Inicializar_variable_TipoPlan":{"runAfter":{"Inicializar_variable_NumContacto":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"TipoPlan","type":"string","value":"@triggerBody()?['TipoPlan']?['Value']"}]}},"Condición_Regla_1_":{"actions":{"Establecer_variable_CodigoInstucion":{"runAfter":{},"type":"SetVariable","inputs":{"name":"CodigoInstitucion1","value":"140111"}},"Establecer_variable_Agenda":{"runAfter":{"Establecer_variable_Institucion":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Agenda1","value":"70000841"}},"Establecer_variable_Institucion":{"runAfter":{"Establecer_variable_CodigoInstucion":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Institucion1","value":"IPS SURA VIRTUAL"}}},"runAfter":{"Inicializar_variable_Institucion_2":["Succeeded"]},"expression":{"and":[{"equals":["@variables('TipoPlan')","POS"]},{"contains":["@variables('TipoAtencion')","Medicina General."]}]},"type":"If","description":"1\tPOS\tMedicina General\t140111\tIPS SURA VIRTUAL\t70000841\tV1"},"Inicializar_variable_CodigoInstitucion_1":{"runAfter":{"Inicializar_variable_Agenda_2":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"CodigoInstitucion1","type":"string","value":"0"}]},"description":"VariablesCondicionales"},"Inicializar_variable_Agenda_1":{"runAfter":{"Inicializar_variable_EstadoTransacion":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Agenda1","type":"string","value":"0"}]},"description":"VariablesCondicionales"},"Inicializar_variable_TipoAtencion":{"runAfter":{"Inicializar_variable_TipoPlan":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"TipoAtencion","type":"string","value":"@{triggerBody()?['TipoAtencion']}"}]}},"Inicializar_variable_Institucion_1":{"runAfter":{"Inicializar_variable_CodigoInstitucion_2":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Institucion1","type":"string","value":"0"}]}},"Condición_Regla_2":{"actions":{"Establecer_variable_CodigoInstucion_1":{"runAfter":{},"type":"SetVariable","inputs":{"name":"CodigoInstitucion1","value":"140111"}},"Establecer_variable_Institucion_1":{"runAfter":{"Establecer_variable_CodigoInstucion_1":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Institucion1","value":"IPS SURA VIRTUAL"}},"Establecer_variable_Agenda_1":{"runAfter":{"Establecer_variable_Institucion_1":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Agenda1","value":"7000084"}}},"runAfter":{"Condición_Regla_1_":["Succeeded"]},"expression":{"and":[{"equals":["@variables('TipoPlan')","POS"]},{"contains":["@variables('TipoAtencion')","Covid."]}]},"type":"If","description":"2 POS\tCovid\t140111\tIPS SURA VIRTUAL\t7000084\tV1  "},"Inicializar_variable_Agenda_2":{"runAfter":{"Inicializar_variable_Agenda_1":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Agenda2","type":"string","value":"0"}]},"description":"VariablesCondicionales"},"Inicializar_variable_CodigoInstitucion_2":{"runAfter":{"Inicializar_variable_CodigoInstitucion_1":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"CodigoInstitucion2","type":"string","value":"0"}]},"description":"VariablesCondicionales"},"Inicializar_variable_Institucion_2":{"runAfter":{"Inicializar_variable_Institucion_1":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Institucion2","type":"string","value":"0"}]}},"Condición_Regla_3":{"actions":{"Establecer_variable_CodigoInstucion_3":{"runAfter":{},"type":"SetVariable","inputs":{"name":"CodigoInstitucion1","value":"137361"}},"Establecer_variable_Agenda_3":{"runAfter":{"Establecer_variable_Institucion_3":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Agenda1","value":"70000271"}},"Establecer_variable_Institucion_3":{"runAfter":{"Establecer_variable_CodigoInstucion_3":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Institucion1","value":"HOLA DOCTOR"}}},"runAfter":{"Condición_Regla_2":["Succeeded"]},"expression":{"and":[{"equals":["@variables('TipoPlan')","POS"]},{"contains":["@variables('TipoAtencion')","Covid-Pediatria."]}]},"type":"If","description":"3\tPOS\tCovid-Pediatria\t137361\tIPS SURA VIRTUAL\t7000084\tV1"},"Condición_Regla_4":{"actions":{"Establecer_variable_CodigoInstucion_00001":{"runAfter":{},"type":"SetVariable","inputs":{"name":"CodigoInstitucion1","value":"137361"}},"Establecer_variable_Agenda_4":{"runAfter":{"Establecer_variable_Institucion_4":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Agenda1","value":"70000271"}},"Establecer_variable_Institucion_4":{"runAfter":{"Establecer_variable_CodigoInstucion_00001":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Institucion1","value":"HOLA DOCTOR"}}},"runAfter":{"Condición_Regla_3":["Succeeded"]},"expression":{"and":[{"equals":["@variables('TipoPlan')","POS"]},{"contains":["@variables('TipoAtencion')","Medicina General-Pediatria."]}]},"type":"If","description":"4\tPOS\tMedicina General-Pediatria\t137361\tIPS SURA VIRTUAL\t70000271\tV1"},"Condición_Regla_5":{"actions":{"Establecer_variable_CodigoInstucion_5":{"runAfter":{},"type":"SetVariable","inputs":{"name":"CodigoInstitucion1","value":"140111"}},"Establecer_variable_Institucion_6":{"runAfter":{"Establecer_variable_CodigoInstucion_5":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Institucion1","value":"IPS SURA VIRTUAL"}},"Establecer_variable_Agenda_6":{"runAfter":{"Establecer_variable_Institucion_6":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Agenda1","value":"70000841"}}},"runAfter":{"Condición_Regla_4":["Succeeded"]},"expression":{"and":[{"equals":["@variables('TipoPlan')","POLIZA"]},{"contains":["@variables('TipoAtencion')","Medicina General."]}]},"type":"If","description":"5\tPOLIZA\tMedicina General\t140111\tIPS SURA VIRTUAL\t70000841\tV1 \t\t||\t137361\tHOLA DOCTOR\t70000841\tV2"},"Condición_Regla_6":{"actions":{"Establecer_variable_CodigoInstucion_7":{"runAfter":{},"type":"SetVariable","inputs":{"name":"CodigoInstitucion1","value":"137361"}},"Establecer_variable_Agenda_7":{"runAfter":{"Establecer_variable_Institucion_5":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Agenda1","value":"89028343"}},"Establecer_variable_Institucion_7":{"runAfter":{"Establecer_variable_CodigoInstucion_6":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Institucion1","value":"HOLA DOCTOR"}},"Establecer_variable_CodigoInstucion_6":{"runAfter":{"Establecer_variable_CodigoInstucion_7":["Succeeded"]},"type":"SetVariable","inputs":{"name":"CodigoInstitucion2","value":"140111"}},"Establecer_variable_Institucion_5":{"runAfter":{"Establecer_variable_Institucion_7":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Institucion2","value":"IPS SURA VIRTUAL"}},"Establecer_variable_Agenda_5":{"runAfter":{"Establecer_variable_Agenda_7":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Agenda2","value":"70000271"}}},"runAfter":{"Condición_Regla_5":["Succeeded"]},"expression":{"and":[{"equals":["@variables('TipoPlan')","POLIZA"]},{"contains":["@variables('TipoAtencion')","Medicina General-Pediatria."]}]},"type":"If","description":"6\tPOLIZA\tMedicina General - Pediatria\t137361\tHOLA DOCTOR\t89028343\tV1"},"Condición_Regla_7":{"actions":{"Establecer_variable_Agenda_8":{"runAfter":{"Establecer_variable_Institucion_8":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Agenda1","value":"7000084"}},"Establecer_variable_Institucion_8":{"runAfter":{"Establecer_variable_CodigoInstucion_9":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Institucion1","value":"IPS SURA VIRTUAL"}},"Establecer_variable_CodigoInstucion_9":{"runAfter":{},"type":"SetVariable","inputs":{"name":"CodigoInstitucion1","value":"140111"}}},"runAfter":{"Condición_Regla_6":["Succeeded"]},"expression":{"and":[{"equals":["@variables('TipoPlan')","POLIZA"]},{"contains":["@variables('TipoAtencion')","Covid."]}]},"type":"If","description":"7 POLIZA\tCovid\t137361\tHOLA DOCTOR\t7000084\tV1 \t\t|| \t140111\tIPS SURA VIRTUAL\t7000084\tV2"},"Condición_Regla_8":{"actions":{"Establecer_variable_CodigoInstucion_001":{"runAfter":{},"type":"SetVariable","inputs":{"name":"CodigoInstitucion1","value":"137361"}},"Establecer_variable_Agenda_10":{"runAfter":{"Establecer_variable_Agenda_11":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Agenda2","value":"70000271"}},"Establecer_variable_Institucion_10":{"runAfter":{"Establecer_variable_Institucion_11":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Institucion2","value":"IPS SURA VIRTUAL"}},"Establecer_variable_CodigoInstucion_002":{"runAfter":{"Establecer_variable_CodigoInstucion_001":["Succeeded"]},"type":"SetVariable","inputs":{"name":"CodigoInstitucion2","value":"140111"}},"Establecer_variable_Institucion_11":{"runAfter":{"Establecer_variable_CodigoInstucion_002":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Institucion1","value":"HOLA DOCTOR"}},"Establecer_variable_Agenda_11":{"runAfter":{"Establecer_variable_Institucion_10":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Agenda1","value":"89028343"}}},"runAfter":{"Condición_Regla_7":["Succeeded"]},"expression":{"and":[{"equals":["@variables('TipoPlan')","POLIZA"]},{"contains":["@variables('TipoAtencion')","Covid-Pediatria."]}]},"type":"If","description":"8\tPOLIZA\tCovid-Pediatria\t140111\tIPS SURA VIRTUAL\t70000271\tV1 \t\t|| \t137361\tHOLA DOCTOR\t89028343\tV2"},"Condición_Regla_9":{"actions":{"Establecer_variable_CodigoInstucion_12":{"runAfter":{},"type":"SetVariable","inputs":{"name":"CodigoInstitucion1","value":"140111"}},"Establecer_variable_Agenda_12":{"runAfter":{"Establecer_variable_Institucion_12":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Agenda1","value":"7000084"}},"Establecer_variable_Institucion_12":{"runAfter":{"Establecer_variable_CodigoInstucion_12":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Institucion1","value":"IPS SURA VIRTUAL"}}},"runAfter":{"Condición_Regla_8":["Succeeded"]},"expression":{"and":[{"equals":["@variables('TipoPlan')","ARL"]},{"contains":["@variables('TipoAtencion')","Covid."]}]},"type":"If","description":"9\tARL\tCovid\t140111\tIPS SURA VIRTUAL\t7000084\tV1"},"Redactar":{"runAfter":{"Condición_Regla11":["Succeeded"]},"type":"Compose","inputs":" @{variables('CodigoInstitucion1')}@{variables('Institucion1')}@{variables('Agenda1')}"},"Redactar_2":{"runAfter":{"Inicializar_variable_ApruebaAtencionIPS":["Succeeded"]},"type":"Compose","inputs":"t@{variables('TipoAtencion')}"},"Inicializar_variable_NumContacto":{"runAfter":{"Inicializar_variable_NombreAcudiente":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"NumContacto","type":"string","value":"@triggerBody()?['Contacto']"}]}},"Inicializar_variable_ApruebaAtencionIPS":{"runAfter":{"Inicializar_variable_TipoAtencion":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ApruebaAtencionIPS","type":"string","value":"@{triggerBody()?['ApruebaAtenci_x00f3_nxIPSSURAVIR']}"}]}},"Inicializar_variable_IDItemTabla":{"runAfter":{"Inicializar_variable_ReferenceCliente":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"IDItemTabla","type":"string","value":"@{triggerBody()?['ID']}"}]}},"Redactar_Codigo_de_Respuesta_ORCHESTRATOR_UIPATH":{"runAfter":{"HTTP_2__(Orchestrator_API_|_Queue_|_Add_Item)_PRODUCCION":["Succeeded"]},"type":"Compose","inputs":"RSPUESTA API ORCHESTRATOR: "},"Condición_Regla10":{"actions":{"Establecer_variable_CodigoInstucion_4":{"runAfter":{},"type":"SetVariable","inputs":{"name":"CodigoInstitucion1","value":"140111"}},"Establecer_variable_Agenda_13":{"runAfter":{"Establecer_variable_Institucion_13":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Agenda1","value":"70000846"}},"Establecer_variable_Institucion_13":{"runAfter":{"Establecer_variable_CodigoInstucion_4":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Institucion1","value":"IPS SURA VIRTUAL"}}},"runAfter":{"Condición_Regla_9":["Succeeded"]},"expression":{"and":[{"or":[{"equals":["@variables('TipoPlan')","POS"]},{"equals":["@variables('TipoPlan')","POLIZA"]}]},{"and":[{"contains":["@variables('TipoAtencion')","RevisionMedicoGeneral."]}]}]},"type":"If","description":"1\tPOS\tRevisionMedicoGeneral.\t140111\tIPS SURA VIRTUAL\t70000846\tV1"},"HTTP_Gererar_Token_Uipath_API_PRODUCION_L":{"runAfter":{"Redactar":["Succeeded"]},"type":"Http","inputs":{"method":"POST","uri":"https://account.uipath.com/oauth/token","headers":{"Content-Type":"application/json","X-UIPATH-TenantName":"PDN"},"body":{"grant_type":"refresh_token","client_id":"8DEv1AMNXczW3y4U15LL3jYf62jK93n5","refresh_token":"aKFrUd3mkO9EJS7e96v4MsymfVjz-zKN7njkUEtLmv4oX"}},"description":"https://account.uipath.com/oauth/token"},"HTTP_2__(Orchestrator_API_|_Queue_|_Add_Item)_PRODUCCION":{"runAfter":{"Inicializar_variable_IDItemTabla":["Succeeded"]},"type":"Http","inputs":{"method":"POST","uri":"https://platform.uipath.com/ContiAgendamiento/PDN/odata/Queues/UiPathODataSvc.AddQueueItem","headers":{"Content-Type":"application/json","X-UIPATH-TenantName":"PDN","Authorization":"@variables('Token')","X-UIPATH-OrganizationUnitId":"270663"},"body":{"itemData":{"Name":"Agendamiento_AVS","Reference":"@variables('ReferenceCliente')","Priority":"Normal","SpecificContent":{"IDItemTabla":"@variables('IDItemTabla')","EmailSolicitante":"@variables('EmailSolicitante')","ChatID":"@variables('ChatID')","TipoID":"@variables('TipoID')","CedulaPaciente":"@variables('CedulaPaciente')","NombrePaciente":"@variables('NombrePaciente')","NombreAcudiente":"@variables('NombreAcudiente')","NumContacto":"@variables('NumContacto')","TipoPlan":"@variables('TipoPlan')","TipoAtencion":"@variables('TipoAtencion')","ApruebaAtencionIPS":"@variables('ApruebaAtencionIPS')","CodigoInstitucion1":"@variables('CodigoInstitucion1')","Institucion1":"@variables('Institucion1')","Agenda1":"@variables('Agenda1')","CodigoInstitucion2":"@variables('CodigoInstitucion2')","Institucion2":"@variables('Institucion2')","Agenda2":"@variables('Agenda2')","Observacion":"@variables('Observacion')","Lista_SharePoint":"@variables('ListaSharePoint')","EstadoTransacion":"@variables('EstadoTransacion')"}}}},"description":"https://platform.uipath.com/[Account Logical Name]/[Tenant Logical Name]/odata/Queues/UiPathODataSvc.AddQueueItem ......     SuraCoE/DEV"},"Inicializar_variable":{"runAfter":{"Inicializar_variable_Lista_SharePoint_Agendamiento_Pager":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"IdNew","type":"integer","value":"@triggerBody()?['ID']\n"}]}},"Eliminar_elemento":{"runAfter":{"Redactar_3_eliminar_Elemento":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"DeleteItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-centralus-01.azure-apim.net/apim/sharepointonline"}},"method":"delete","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://suramericana.sharepoint.com/sites/AsistenteSaludVirtualIPS'))}/tables/@{encodeURIComponent(encodeURIComponent('1e203c5b-155b-4a80-a801-fcf7e575567a'))}/items/@{encodeURIComponent(sub(int(variables('IdNew')),int(700)))}","authentication":"@parameters('$authentication')"}},"Redactar_3_eliminar_Elemento":{"runAfter":{"Redactar_Codigo_de_Respuesta_ORCHESTRATOR_UIPATH":["Succeeded"]},"type":"Compose","inputs":"@sub(int(variables('IdNew')),int(50))","description":"sub(int(5),int(2))"},"Condición_Regla11":{"actions":{"Establecer_variable_CodigoInstucion_2":{"runAfter":{},"type":"SetVariable","inputs":{"name":"CodigoInstitucion1","value":"140111"}},"Establecer_variable_Agenda_2":{"runAfter":{"Establecer_variable_Institucion_2":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Agenda1","value":"70000844"}},"Establecer_variable_Institucion_2":{"runAfter":{"Establecer_variable_CodigoInstucion_2":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Institucion1","value":"IPS SURA VIRTUAL"}}},"runAfter":{"Condición_Regla10":["Succeeded"]},"expression":{"contains":["@variables('TipoAtencion')","INCODOL"]},"type":"If","description":"1\tPOS\tRevisionMedicoGeneral.\t140111\tIPS SURA VIRTUAL\t70000846\tV1"},"Inicializar_variable_Lista_SharePoint_Agendamiento_Pager":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"ListaSharePoint","type":"string","value":"Agendamiento_Pager"}]}},"Inicializar_variable_Email_Solicitante":{"runAfter":{"Inicializar_variable_TipoID":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"EmailSolicitante","type":"string","value":"@triggerBody()?['Author']?['Email']"}]}}},"description":"AGG un ítem al Queue Item de Orchestrator Uipath, Con el fin de que El asistente Performador pueda procesarlo.\nTeniendo como desencadenamiento (Inicio del proceso)Agregar un ítem a una lista especifica de sharepoint.\nExisten actividades de power Automate Premium"},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-3e6267d7-2660-48d3-8e64-9d03-4ca79276","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}